
{include file=$links}

<script type="text/javascript" src="{$HOST}js/modulos/programacion.js"></script>

<script type="text/javascript">

    {$grilla}

</script>


<div style="width: 97%">

        <table id="lsprogramacion"></table>
        <div id="pgprogramacion"></div>

        <fieldset class="ui-widget ui-widget-content" style="margin-top: 5px;"> 
            <legend class="ui-widget-header ui-corner-all">Operaciones</legend>

            <button id="nuevo_programacion">Nuevo</button>
            <button id="modificar_programacion">Modificar</button>
            <button id="anular_programacion">Anular</button>
            
            <button id="asignar_cargos">Asignar Cargos</button>
            <button id="fechas_alertas">Fechas Alertas</button>
        </fieldset>

</div>



<div id="dlgProgramacion" title="Programacion de alertas" >

    {include file=$datos}

</div>

<div id="dlgCargos" title="Asignacion de cargos">
    
        <fieldset class="ui-widget ui-widget-content" style="margin-top: 5px;"> 
            <legend class="ui-widget-header ui-corner-all">Datos</legend>

            <table>
                <tr>
                    <td><label>Oficina</label></td>
                    <td colspan="2">
                        <select name="id_oficina" id="id_oficina" style="width: 300px;" title="Seleccione una oficina" onchange="cargarCargos();">
                            <option value="0" >.: SELECCIONE :.</option>
                            {foreach from=$oficina item="p"}
                                <option value="{$p['id_oficina']}" >{$p['nombre']|replace:"=":"&nbsp;"}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Cargo</label></td>
                    <td>
                        <select name="id_cargo" id="id_cargo" style="width: 200px;" title="Seleccione un cargo">
                        </select>
                    </td>
                    <td>
                        <button id="agregar">Agregar</button>
                    </td>
                </tr>
            </table>
            
        </fieldset>
    
        <div style="border: solid 1px #CCC; margin-top: 10px">
            <table class="detalle_header" style="margin-right:16px; border-spacing:0; margin-top:0; width:100%;">
                <thead>
                    <tr>
                        <th width="45%">Oficina</th>
                        <th width="45%">Cargo</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div style="overflow-y: scroll; overflow-x: hidden; height: 180px; border: solid 1px #CCC;">
            <table class="table-details detalle_body" style="border: 0; width: 100%;" id="detalle">
                <thead>
                    <tr>
                        <th width="45%"></th>
                        <th width="45%"></th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
</div>

<div id="dlgDetalle" title="Detalle de programacion">
    <table style="width: 100%;">
        <tr>
            <td colspan="2">
                <label>Programacion:</label>
                <input type="text" name="nProgramacion" id="nProgramacion" value="" readonly="readonly" style="width: 500px;"/>
            </td>
        </tr>
        <tr>
            <td style="width: 50%">
                <div style="border: solid 1px #CCC; margin-top: 10px">
                    <table class="detalle_header" style="margin-right:16px; border-spacing:0; margin-top:0; width:100%;">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="95%">Periodos</th>
                                <th width="5%"><a href="#" title="Agregar Periodo" class="addPeriodo"><img src="{$HOST}images/add.png"/></a></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="overflow-y: scroll; overflow-x: hidden; height: 180px; border: solid 1px #CCC;">
                    <table class="table-details detalle_body" style="border: 0; width: 100%;" id="lsPeriodos">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="90%"></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </td>
            <td style="width: 50%">
                <div style="border: solid 1px #CCC; margin-top: 10px">
                    <table class="detalle_header" style="margin-right:16px; border-spacing:0; margin-top:0; width:100%;">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="45%">Fecha Alerta</th>
                                <th width="45%">Fecha Final</th>
                                <th width="5%"><a href="#" title="Agregar Fechas" class="addFechas"><img src="{$HOST}images/add.png"/></a></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="overflow-y: scroll; overflow-x: hidden; height: 180px; border: solid 1px #CCC;">
                    <table class="table-details detalle_body" style="border: 0; width: 100%;" id="lsFechas">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="45%"></th>
                                <th width="45%"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="dlgAddPeriodo" title="Agregar Periodo">
    <table>
        <tr>
            <td>
                <label>Mes:</label>
            </td>
            <td>
                <select name="mes" id="mes" style="width: 100px;">
                    <option value="1">ENERO</option>
                    <option value="2">FEBRERO</option>
                    <option value="3">MARZO</option>
                    <option value="4">ABRIL</option>
                    <option value="5">MAYO</option>
                    <option value="6">JUNIO</option>
                    <option value="7">JULIO</option>
                    <option value="8">AGOSTO</option>
                    <option value="9">SEPTIEMBRE</option>
                    <option value="10">OCTUBRE</option>
                    <option value="11">NOVIEMBRE</option>
                    <option value="12">DICIEMBRE</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Año:</label>
            </td>
            <td>
                <select name="anio" id="anio" style="width: 100px;">
                    {foreach from=$date item="p"}
                        <option value="{$p}" >{$p}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
    </table>
</div>